@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  background: url("../../assets/img/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  overflow-y: scroll;
}
.content {
  position: absolute;
  padding-left: 120px;
  top: 0;
  width: 100%;
}

.wrapper {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}
.firstColumn {
  width: 60%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 50px;
  border-radius: 4px 4px 0 0;
}
.titleText {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.settingsIcon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  fill: rgba(255, 255, 255, 0.6);
  transition: 0.4s fill;
}
.settingsIcon:hover {
  cursor: pointer;
  fill: rgba(255, 255, 255, 1);
  transition: 0.4s fill;
}

.accounts {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(59, 95, 144, 0.08);
  box-shadow: none;
  padding: 14px 25px;
}
.account:last-child {
  border-radius: 0 0 4px 4px;
}
.account:hover {
  position: relative;
  box-shadow: 0 5px 20px 0 rgb(240 50 38 / 40%);
  z-index: 1;
  cursor: pointer;
  transition: 0.3s all;
}
.accountInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accountTitle {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 32px;
}
.account:hover .accountTitle {
  color: #1c75a8;
}
.accountNumber {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.filtredBtn {
  width: 100%;
  background: #f5f7f7;
}
.lastOperationBtn {
  background: transparent;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #1c75a8;
  transition: color 0.15s;
  padding: 18px 30px 14px 30px;
  cursor: pointer;
}
.lastOperationBtn:hover {
  color: #ff0000;
}
.lastOperationBtn.active {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background: #fff;
}
.lastOperationBtn.active:hover {
  color: #000;
}
.operations {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.operation {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(59, 95, 144, 0.08);
  box-shadow: none;
  padding: 14px 0;
}
.operation:last-child {
  border-radius: 0 0 4px 4px;
}
.operation:hover {
  position: relative;
  box-shadow: 0 5px 20px 0 rgb(240 50 38 / 40%);
  z-index: 1;
  cursor: pointer;
  transition: 0.3s all;
}
.operationDate {
  padding: 0 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.15s;
}
.operationsInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
.operationTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  text-transform: uppercase;
  transition: color 0.15s;
}
.operationMoney {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.operationMoney.plus {
  color: #00980e;
}
.operationMoney.min {
  color: #f03226;
}
.secondColumn {
  width: 30%;
}
