.squareContainer {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
}
.squareIcon {
  width: 25px;
}
.squareText {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1px;
  transition: color 0.4s;
  margin-top: 10px;
  text-transform: uppercase;
}
.squareContainer.active {
  background: #fff;
}
.squareContainer.active .squareText {
  color: red;
}
